@import "tailwindcss";
@import "tw-animate-css";


html,
body {
  margin: 0;
  padding: 0;
}


/* Fonts classes */
.Jost {
  font-family: var(--font-Jost);
}
.Ballet {
  font-family: var(--font-Ballet);
}

/* Utility classes */
:root {
  --selection-bg: #ffff;
  --selected: #000000c4;
  --selection-text: #E8E4D9;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Selection */
::selection {
  background-color: var(--selected);
  color: var(--selection-text);
}

::-moz-selection {
  background-color: var(--selected);
  color: var(--selection-text);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #0f1210;
}

::-webkit-scrollbar-thumb {
  background: #E8E4D9;
  border-radius: 4px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #94FBFF;
  background-clip: content-box;
}

